* {
    margin: 0px;
    padding: 0px; 
}

body {
    font-family: sans-serif;
}

.top_part {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
    background-image: url(pleasestandby.jpeg);
    background-size: cover;
}

.top_div {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    color: blanchedalmond;

}